.bodyRoot {
    background-image: url("../../assets/background.jpeg");
    background-size: cover;
    padding: 30px;
    height: calc(44/56 * (98vh - 64px));
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.bodyHeader {
    background-color: #f2e6d5;
    /* height: calc(5/56 * (98 - 64px)); */
    padding: 10px;
    display: flex;
    align-items: center;
    
}



.chatInputContainer {
    border-top: 2px solid grey;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #f2e6d5;
    /* height: calc(7/56 * (98 - 64px)); */
    display: flex;
    justify-content: center;
    align-items: center;

    
}

.chatListScrollBody {
    height: calc(44/56 * (98vh - 64px) + 72px) ;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    
}






.chatInput {
    width: 80%;
    background-color: #fefefe;
    border-radius: 5px;
    
}



.message {
    display: inline-block;
    max-width: 70%;
    padding: 10px;
    margin: 10px 0px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    text-align: justify;
    text-justify: inter-word;


}

