.wrapper-class {
	border: 1px solid gray;
	width: 700px;
	background-color: white;
}
.editor-class {
	padding: 0px 20px 0px 20px;
	min-height: 275px;
	max-height: 275px;
}
.toolbar-class {
	border-bottom: 1px solid gray;
	display: flex;
	justify-content: space-between;
}
